{
	"concurrent":10,
	"verbose":1,
	"crawler_delay":30,
	"page_expires":999,
	"exit_after_done":1,
	"recrawl_sleep":3600,
	"db_dsn":"mysql:host=localhost;dbname=PhpSpider",
	"db_username":"root",
	"db_password":"",
	"useragent":"robot",
	"site":{
		"xiu.com":{
			"site_id":1,
			"depth":999,
			"drop_query":1,
			"info_re":[
				"#^http://item\\.xiu\\.com/product/\\d+\\.shtml$#i"
			],
			"entry":[
				"http://www.xiu.com/about/classifymap.shtml"
			],
			"domain_limit":[ ".xiu.com" ]
		},
		"amazon.cn":{
			"site_id":2,
			"stop":1,
			"depth":999,
			"list_re":[
				"#^http://www\\.amazon\\.cn/[^/]+/b/ref=#i"
			],
			"info_re":[
				"#^http://www\\.amazon\\.cn/[^/]+/dp/#i"
			],
			"entry":[
				"http://www.amazon.cn/"
			]
		}
	}
}
